
.control{
  width: 100%;
  display: flex;
 justify-content: center;
  margin-top: 10px;
  border-bottom: 1px solid rgb(151, 148, 148);
}
.control button{
  padding: 8px;
  border-radius: 4px;
  margin: 4px;
  border: none;
  cursor: pointer;
}

.addBtn{
  background-color: green;
}
.addBtn:hover{
  background-color: rgb(10, 167, 44);
}
.delBtn{
  background-color: red;
}
.delBtn:hover{
  background-color: rgb(235, 88, 88);
}

